body {
    background-color: #e2e2e2;
    text-align: center;
}

.pac-man {
    background-color: yellow;
    border: none;
}

.pac-dot {
    background-color: green;
    border: 5px solid white;
    border-radius: 0 5px;
}